##### mysql #####
# https://www.cnblogs.com/xifengxiaoma/p/11028248.html
# Druid: https://github.com/alibaba/druid
# Druid Spring Starter: https://github.com/alibaba/druid/tree/master/druid-spring-boot-starter
spring:
#  data:
#    mongodb:
#      uri: mongodb://10.67.36.170:27017/mockServer
  datasource:
    name: druidDataSource
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/mock-server?serverTimezone=UTC&useUnicode=true&zeroDateTimeBehavior=convertToNull&autoReconnect=true&characterEncoding=utf-8
      username: root
      password: 123456
      filters: stat,wall,log4j,config # wall: firewall, filters used to statistic the data for display on monitor page
      max-active: 20
      initial-size: 10
      min-idle: 10
      max-wait: 60000  # time to wait for an available connection.
      time-between-eviction-runs-millis: 60000  # interval to check the connections tobe closed.
      min-evictable-idle-time-millis: 300000  # min idle time of connection.
      validation-query: select 'x'
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      pool-prepared-statements: true
      max-open-prepared-statements: 50
      max-pool-prepared-statement-per-connection-size: 20
