<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="MOCK-SERVER" status="WARN" monitorInterval="30">
    <Properties>
        <property name="LOG_HOME">/data/mock-server/mock-server-http/logs</property>
        <property name="FILENAME">mock-server</property>
        <property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t-%L] %-5level %logger{36} - %msg%n</property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" ignoreExceptions="false">
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="${PATTERN}" />
        </Console>

        <RollingRandomAccessFile name="RollingFile"
                                 fileName="${LOG_HOME}/${FILENAME}.log"
                                 filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILENAME}-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${PATTERN}" />

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>

        </RollingRandomAccessFile>

        <Async name="ASYNC" includeLocation="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Async>

    </Appenders>

    <Loggers>
        <logger name="org.apache.http" level="INFO" />
        <logger name="org.springframework" level="INFO" />
        <logger name="org.mybatis" level="INFO" />
        <logger name="org.springframework.core" level="INFO" />
        <logger name="org.springframework.beans" level="INFO" />
        <logger name="org.springframework.context" level="INFO" />
        <logger name="org.springframework.web" level="INFO" />
        <logger name="org.mongodb.driver" level="INFO" />
        <logger name="org.hibernate.validator" level="INFO" />

        <Root level="INFO">
            <AppenderRef ref="ASYNC"/>
        </Root>

    </Loggers>

</Configuration>
